#calculator {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    width: 400px;
    max-width: 400px;
}
#buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
    padding: 8px;
}
#buttons button{
    background-color:  #505050;
    color: white;
    font-size: 36;
    text-align: center;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    border: none;
}